<!DOCTYPE html>
<html>
<html lang="en">
<meta charset="utf-8">
<title>Dots and Boxes</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="/public/js/main.js" defer></script>

</head>

<body align="center" style="background-color:#E6C231">
	<div align="center"class="container">
		<h1>Configuracion del Juego</h1>
		<div>
			
			<form align="center" class="col-md" method="post" action="/game">
				<div  class="form-group">
					<h1>Dimensiones del Juego:</h1>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="ui green input-group-text">Filas y Columnas</span>
						</div>
							<input type="number" class="form-control" id="nb-rows" value=6 min=1>
							<input type="number" class="form-control" id="nb-cols" value=6 min=1>
					</div>
				<br>

				
				<div  class="form-group">
					<h1>Registrar Jugadores:</h1>
					<div class="input-group">
						<p>
							<label>Jugador 1</label>
								<input type = 'text'  name='jugador1'>
								
								
						</p>
						<br>
						<div>
							<p>
								<label>Jugador 2</label>
									<input type = 'text' name='jugador2'>
									
							</p>
						</div>
					</div>
					<br>
				</div>

				
				
				<button type="submit" class="ui green button btn btn-secondary" id="starGame">Iniciar Juego</button>
			</form>
			</div>
		</div>
		
	</div>

	<script src="https://d3js.org/d3.v4.min.js"></script>
    


    
    
    
</body>
</html>